root = true

[*]
end_of_line = lf

[*.{go,py}]
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

[*.{cfg,json,yaml,yml}]
indent_size = 2
indent_style = space
